<h1>Contact Drink&Go shop</h1>
<p>If you have any questions, please d not hesitate to get in touch. Click below to send us an email</p>

<email address="ervistrupja@@outlook.com" content="Contact us"></email>