<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Contact Drink&Go shop</h1>
            <p>If you have any questions, please do not hesitate to contact us. Contact us via mail</p>

            <email address="ervistrupja@@outlook.com" content="Contact us"></email>
        </div>
    </div>
</div>