<h1>Welcome to ASP.NET Core!</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>What is ASP.NET Core?`</h2>
            <p>
                ASP.NET Core is a lean and composable framework for building web and cloud applications. ASP.NET Core is fully open source and available on GitHub.
                ASP.NET Core is available on Windows, Mac, and Linux.
            </p>
        </div>

        <div class="col-md-12">
            <h2>Why build ASP.NET Core?</h2>
            <p>
                The first preview release of ASP.NET came out almost 15 years ago as part of the .NET Framework. Since then millions of developers have used it to build and run great web apps, and over the years we have added and evolved many capabilities to it.
                ASP.NET Core has a number of architectural changes that result in a much leaner and modular framework. ASP.NET Core is no longer based on System.Web.dll. It is based on a set of granular and well factored NuGet packages. This allows you to optimize your app to include just the NuGet packages you need. The benefits of a smaller app surface area include tighter security, reduced servicing, improved performance, and decreased costs in a pay-for-what-you-use model.
            </p>
        </div>

        <div class="col-md-12">
            <h2>What is this project all about</h2>
            <p>
                This project is just about getting the hands dirty with ASP.NET Core MVC framework. Learning about concepts like <my-bold>Model</my-bold>,<my-bold>Controller</my-bold>, <my-bold>View</my-bold>. The structure of an MVC application.
                The main files and what are the roles of these files on MVC framework. Also there is information about how to configure and use Entity Framework Core Database First in an MVC application. <br />
                For this reason all the code is open source and can be found on <a target="_blank" href="https://github.com/etrupja/DrinkAndGo">Github</a>
            </p>
        </div>
    </div>
</div>