<div class="container jumbotron">
    <div class="col-md-12">
        <h2 class="text-center">You were successfully registered. :)</h2>
        <p class="text-center"> <b>You are ready to log in.</b> </p>
    </div>
</div>