@model HomeViewModel

@await Html.PartialAsync("Carousel")

<h2>Prefered drinks of the week </h2>
<h4>Clients preferences - just for you!</h4>

<div class="row">
    @foreach (var drink in Model.PreferredDrinks)
    {
        @Html.Partial("DrinksSummary", drink)
    }
</div>